%h1 常见客户问题解答列表

.row-fluid
  = link_to '新增加问题', new_faq_path, :class=>"btn btn-primary"
  = search_form_for(@q, :html=>{:class=>"form-inline pull-right", :role=>"form"}) do |f|
    .form-group
      = f.label :title
      = f.text_field :title_cont, :class=>"form-control"
    = f.submit "搜索", :class=>"btn btn-default"
%br
%table.table.table-striped
  %tr
    %th.col-xs-7= Faq.human_attribute_name(:title)
    %th.col-xs-1= Faq.human_attribute_name(:member)
    %th.col-xs-2= Faq.human_attribute_name(:created_at)
    %th.col-xs-2

  - @faqs.each do |faq|
    %tr
      %td= link_to faq.title, faq
      %td= faq.member.name rescue nil
      %th= faq.created_at.strftime("%Y-%m-%d %H:%M")
      %td
        = link_to t('Edit'), edit_faq_path(faq), :class=>"btn btn-default"
        - if current_member.has_role? :admin
          = link_to t('Destroy'), faq, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class=>"btn btn-danger"


